{#
This file is part of EC-CUBE

Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.

http://www.ec-cube.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}

<div class="ec-topicRole">
    <div class="ec-role">
        <div class="ec-secHeading">
            <span class="ec-secHeading__en">{{ 'front.block.topic.topic__en'|trans }}</span>
            <span class="ec-secHeading__line"></span>
            <span class="ec-secHeading__ja">{{ 'front.block.topic.topic__ja'|trans }}</span>
        </div>
        <div class="ec-topicRole__list">
            <div class="ec-topicRole__listItem">
                <a href="{{ url('product_list') }}?category_id=11">
                    <img src="/html/user_data/assets/img/special001_outlet_sale.jpg">
                </a>
                <p class="ec-topicRole__listItemTitle">お買い得なアウトレット品！</p>
            </div>
            <div class="ec-topicRole__listItem">
                <a href="{{ url('product_list') }}?category_id=13">
                    <img src="/html/user_data/assets/img/special002_giza.jpg">
                </a>
                <p class="ec-topicRole__listItemTitle">抜群の切れ味！ギザ王</p>
            </div>
        </div>
    </div>
</div>